# Formula 1 - Data Collection

### Import Relevant Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
import time
from tqdm import tqdm
import math

In [3]:
from collections import defaultdict
import regex as re
import datetime

### Extract Individual Race Information from the API

#### Steps taken were:
##### Ergast API:

    - Use json to extract information from 2014 onwards from Ergast API, containing F1 data from 1950 to present.
    - All scraped information stored in a dictionary of lists and loaded into a dataframe.

##### Processing:

    - Alter 'race_name' variable by custom function for using in further scraping from URLs via format strings.
    - Create further functions for cycling through each race's URL and extracting weather and distance information.

In [4]:
races = defaultdict(list)

for year in list(range(2014, (datetime.datetime.now().date().year + 1))):
    
    url = f'https://ergast.com/api/f1/{year}.json'
    r = requests.get(url)
    json = r.json()

    for item in json['MRData']['RaceTable']['Races']:
        try:
            races['season'].append(int(item['season']))
        except:
            races['season'].append(None)

        try:
            races['round'].append(int(item['round']))
        except:
            races['round'].append(None)

        try:
            races['race_name'].append(item['raceName'])
        except:
            races['race_name'].append(None)
            
        try:
            races['circuitId'].append(item['Circuit']['circuitId'])
        except:
            races['circuitId'].append(None)
            
        try:
            races['lat'].append(float(item['Circuit']['Location']['lat']))
        except:
            races['lat'].append(None)

        try:
            races['long'].append(float(item['Circuit']['Location']['long']))
        except:
            races['long'].append(None)

        try:
            races['country'].append(item['Circuit']['Location']['country'])
        except:
            races['country'].append(None)

        try:
            races['date'].append(item['date'])
        except:
            races['date'].append(None)

        try:
            races['url'].append(item['url'])
        except:
            races['url'].append(None)
        
races = pd.DataFrame(races)

In [5]:
races.columns

Index(['season', 'round', 'race_name', 'circuitId', 'lat', 'long', 'country',
       'date', 'url'],
      dtype='object')

#### Transform the Data into the Required Format

In [6]:
def race_name(name):
    split_name = name.split()
    new_name = ('-'.join(split_name[:-2])).lower()
    if new_name=='mexico-city':
        return 'mexican'
    if new_name=='united-states':
        return 'us'
    return new_name

races.race_name = races.race_name.apply(race_name)

In [7]:
race_name('Abu Dhabi Grand Prix')

'abu-dhabi'

In [8]:
races.race_name.unique()

array(['australian', 'malaysian', 'bahrain', 'chinese', 'spanish',
       'monaco', 'canadian', 'austrian', 'british', 'german', 'hungarian',
       'belgian', 'italian', 'singapore', 'japanese', 'russian', 'us',
       'brazilian', 'abu-dhabi', 'mexican', 'european', 'azerbaijan',
       'french', 'styrian', '70th-anniversary', 'tuscan', 'eifel',
       'portuguese', 'emilia-romagna', 'turkish', 'sakhir', 'dutch',
       'saudi-arabian'], dtype=object)

In [9]:
races.season.unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [10]:
def extract_weather(cols):
    for col in cols:
        try:
            if 'Weather' in str(col.find('th', attrs={'scope':'row'})):
                return col.find('td').text.strip('\n')
        except:
            return ''

In [11]:
def extract_distance(cols):
    for col in cols:
        try:
            if 'Distance' in str(col.find('th', attrs={'scope':'row'})):
                return col.find('td').text.split(', ')[1].split('km')[0].strip(' ')
        except:
            return ''

In [12]:
def weather(url):
    try:
        result = requests.get(url)
        soup = BeautifulSoup(result.text, 'html.parser')
        table = soup.find('table', attrs={'class':'infobox'})
        cols = table.find_all('tr')
        weather = extract_weather(cols)
        return weather
    except:
        return ''

In [13]:
def distance(url):
    try:
        result = requests.get(url)
        soup = BeautifulSoup(result.text, 'html.parser')
        table = soup.find('table', attrs={'class':'infobox'})
        cols = table.find_all('tr')
        distance = extract_distance(cols)
        return distance
    except:
        return ''

In [14]:
races['weather'] = races.url.apply(weather)
races['distance'] = races.url.apply(distance)

### F1 Fansite

### To fill gaps in the weather data, data was taken from f1-fansite.com. 
#### Steps taken were:
##### Scraping:

    - Use selenium to initiate an undetected chromedriver instance to circumvent cloud flare protection.
    - Iterate through the different url structures used for races during the prescribed years.
    - Use BeautifulSoup to search through the results and identify the location of the Weather Conditions info.
    - Many commonly labelled sections, so the list of html objects was converted into string format.
        - The strings were then iterated through to locate an instance containing the appropriate data.
    - All unformatted output was then stored in the 'scraped_all' dict of lists, which was converted to a DF.

##### Processing:

    - Rows containing null values were then dropped and a process of raw data refinement ensued.
    - Refinement included:
            - String-section replacement.
            - Regular expression to locate temperature ranges and take averages.
    - Since the scraping took some time, the weather data was stored in csv format in the notebook directory.
    - This weather was then combined with previously extracted weather data using the races dataframe's urls.
        - Combination was completed via string concatenation.
        - Multiple occurences of certain words is later dealt with by Binarised Count Vectorisation.




<!--     - First search through each string typed section for the word 'Weather'.
    - Then search through the section with regular expression to separate out terms. -->

In [15]:
f1_fan_urls = ['https://www.f1-fansite.com/f1-result/race-results-{}-{}-f1-grand-prix/',
               'https://www.f1-fansite.com/f1-result/race-results-{}-{}-f1-gp/',
               'https://www.f1-fansite.com/f1-result/race-result-{}-{}-f1-gp/',
               'https://www.f1-fansite.com/f1-result/{}-{}-grand-prix-race-results/',
               'https://www.f1-fansite.com/f1-result/{}-{}-grand-prix-results/']

In [16]:
# for use in scraping

race_dps = []

for years in np.array(races.season.unique()):
    race_dps.extend([(years, race_name) if race_name != '70th-anniversary' 
                     else (race_name.split('-')[0], race_name.split('-')[1], years)
                     for race_name in 
                     list(races[races.season == years]['race_name'])])
    race_dps.extend([(years, 'usa') for race_name in
                 list(races[races.season == years]['race_name']) if race_name=='us'])
    race_dps.extend([(years, 'mexico') for race_name in
                 list(races[races.season == years]['race_name']) if race_name=='mexican'])

In [18]:
import undetected_chromedriver as uc
from selenium import webdriver

scraped_all = defaultdict(list)
failed_all = []


for race in race_dps:
    found_weather = False
    found_page = False
    options = webdriver.ChromeOptions() 
    options.add_argument("start-maximized")
    for url in f1_fan_urls:
        driver = uc.Chrome(options=options)
        try:
            driver.get(url.format(race[0], race[1]))
            soup = BeautifulSoup(driver.page_source, 'html.parser')
            driver.quit()
            if soup.find('body').get('class')[0] != 'error404':
                found_page = True
                break
            else:
                snippet = url.format(race[0], race[1]).strip('/').split('/')[-1]
        except:
            pass
    if found_page == False:
        if race[0] == '70th':
            scraped_all['season'].append(race[2])
            scraped_all['race_name'].append('-'.join([race[0], race[1]]))
            scraped_all['weather'].append(np.nan)
        else:
            print(f'page not found for {race}')
            scraped_all['season'].append(race[0])
            scraped_all['race_name'].append(race[1])
            scraped_all['weather'].append(np.nan)
        continue

    sections = soup.find_all('p')

    for section in sections:
        if 'Weather' in str(section):
            found_weather = True
            w_section = str(section)
            cats = w_section.split('br')

            for cat in cats:
                if 'Weather' in cat:
                    print(f"data found for {race}")
                    if race[0] == '70th':
                        scraped_all['season'].append(race[2])
                        scraped_all['race_name'].append('-'.join([race[0], race[1]]))
                        scraped_all['weather'].append(cat)
                        break
                    
                    else:
                        scraped_all['season'].append(race[0])
                        scraped_all['race_name'].append(race[1])
                        scraped_all['weather'].append(cat)
    
    if found_weather == False:
        if race[0] == '70th':
            scraped_all['season'].append(race[2])
            scraped_all['race_name'].append('-'.join([race[0], race[1]]))
            scraped_all['weather'].append(np.nan)
        else:
            scraped_all['season'].append(race[0])
            scraped_all['race_name'].append(race[1])
            scraped_all['weather'].append(np.nan)


f1_fan_weather = pd.DataFrame(scraped_all)

found for (2014, 'australian')
found for (2014, 'malaysian')
not found for (2014, 'us')
found for (2015, 'malaysian')
found for (2015, 'chinese')
found for (2015, 'bahrain')
found for (2015, 'spanish')
found for (2015, 'monaco')
found for (2015, 'canadian')
found for (2015, 'austrian')
found for (2015, 'british')
found for (2015, 'hungarian')
found for (2015, 'belgian')
found for (2015, 'italian')
found for (2015, 'singapore')
found for (2015, 'japanese')
found for (2015, 'russian')
found for (2015, 'us')
found for (2015, 'mexican')
found for (2015, 'brazilian')
found for (2015, 'abu-dhabi')
not found for (2015, 'usa')
not found for (2015, 'mexico')
found for (2016, 'australian')
found for (2016, 'bahrain')
found for (2016, 'chinese')
found for (2016, 'russian')
found for (2016, 'spanish')
found for (2016, 'monaco')
found for (2016, 'canadian')
found for (2016, 'european')
found for (2016, 'austrian')
found for (2016, 'british')
found for (2016, 'hungarian')
found for (2016, 'belgian')
found for (2016, 'italian')
found for (2016, 'singapore')
found for (2016, 'malaysian')
found for (2016, 'japanese')
not found for (2016, 'us')
found for (2016, 'mexican')
found for (2016, 'brazilian')
found for (2016, 'abu-dhabi')
found for (2016, 'usa')
not found for (2016, 'mexico')
found for (2017, 'australian')
found for (2017, 'chinese')
found for (2017, 'bahrain')
found for (2017, 'russian')
found for (2017, 'spanish')
found for (2017, 'monaco')
found for (2017, 'canadian')
found for (2017, 'azerbaijan')
found for (2017, 'austrian')
found for (2017, 'british')
found for (2017, 'hungarian')
found for (2017, 'belgian')
found for (2017, 'italian')
found for (2017, 'singapore')
found for (2017, 'malaysian')
found for (2017, 'japanese')
not found for (2017, 'us')
not found for (2017, 'mexican')
found for (2017, 'brazilian')
found for (2017, 'abu-dhabi')
found for (2017, 'usa')
found for (2017, 'mexico')
found for (2018, 'australian')
found for (2018, 'bahrain')
found for (2018, 'chinese')
found for (2018, 'azerbaijan')
found for (2018, 'spanish')
found for (2018, 'monaco')
found for (2018, 'canadian')
found for (2018, 'french')
found for (2018, 'austrian')
found for (2018, 'british')
found for (2018, 'german')
found for (2018, 'hungarian')
found for (2018, 'belgian')
found for (2018, 'italian')
found for (2018, 'singapore')
found for (2018, 'russian')
found for (2018, 'japanese')
found for (2018, 'us')
found for (2018, 'mexican')
found for (2018, 'brazilian')
found for (2018, 'abu-dhabi')
not found for (2018, 'usa')
not found for (2018, 'mexico')
found for (2019, 'australian')
found for (2019, 'bahrain')
found for (2019, 'chinese')
found for (2019, 'azerbaijan')
found for (2019, 'spanish')
found for (2019, 'monaco')
found for (2019, 'canadian')
found for (2019, 'french')
found for (2019, 'austrian')
found for (2019, 'british')
found for (2019, 'german')
found for (2019, 'hungarian')
found for (2019, 'belgian')
found for (2019, 'italian')
found for (2019, 'singapore')
found for (2019, 'russian')
found for (2019, 'japanese')
not found for (2019, 'mexican')
found for (2019, 'us')
found for (2019, 'brazilian')
found for (2019, 'abu-dhabi')
not found for (2019, 'usa')
found for (2019, 'mexico')
found for (2020, 'austrian')
found for (2020, 'styrian')
found for (2020, 'hungarian')
found for (2020, 'british')
found for ('70th', 'anniversary', 2020)
found for (2020, 'spanish')
found for (2020, 'belgian')
found for (2020, 'italian')
found for (2020, 'tuscan')
found for (2020, 'russian')
found for (2020, 'eifel')
found for (2020, 'portuguese')
found for (2020, 'emilia-romagna')
found for (2020, 'turkish')
found for (2020, 'bahrain')
found for (2020, 'sakhir')
found for (2020, 'abu-dhabi')
found for (2021, 'bahrain')
found for (2021, 'emilia-romagna')
found for (2021, 'portuguese')
found for (2021, 'spanish')
found for (2021, 'monaco')
found for (2021, 'azerbaijan')
found for (2021, 'french')
found for (2021, 'styrian')
found for (2021, 'austrian')
found for (2021, 'british')
not found for (2021, 'hungarian')
not found for (2021, 'belgian')
not found for (2021, 'dutch')
not found for (2021, 'italian')
not found for (2021, 'russian')
not found for (2021, 'turkish')
not found for (2021, 'japanese')
not found for (2021, 'us')
not found for (2021, 'mexican')
not found for (2021, 'brazilian')
not found for (2021, 'australian')
not found for (2021, 'saudi-arabian')
not found for (2021, 'abu-dhabi')
not found for (2021, 'usa')
not found for (2021, 'mexico')

In [19]:
len(race_dps)

174

In [20]:
f1_fan_weather[f1_fan_weather.weather.isnull()==True]
f1_fan_complete = f1_fan_weather[f1_fan_weather.weather.isnull()==False]
f1_fan_complete

     season   race_name                                            weather
0      2014  australian                                /> Weather: Dry</p>
1      2014   malaysian                                <p>Weather: Dry</p>
21     2015   malaysian  <p>Weather: <i class="fa fa-thermometer-half">...
22     2015     chinese                              <p>Weather: Dry 21ºC<
23     2015     bahrain                              <p>Weather: Dry 25ºC<
..      ...         ...                                                ...
154    2021  azerbaijan  <p>Weather: <i class="fas fa-sun"></i> dry <i ...
155    2021      french  <p>Weather: <i class="fas fa-sun"></i> dry <i ...
156    2021     styrian  <p>Weather: <i class="fas fa-sun"></i> dry <i ...
157    2021    austrian  <p>Weather: <i class="fas fa-sun"></i> dry <i ...
158    2021     british  <p>Weather: <i class="fas fa-sun"></i> dry <i ...

[129 rows x 3 columns]

In [21]:
weather_df = f1_fan_weather.copy()
weather_df.dropna(inplace=True)

In [22]:
def text_filter(weather):
    weather = weather.lower().replace('Weather:', '').replace('\xa0', '').replace('<p> ', '').replace('<', '').replace('º', '°').replace('&amp;', '').replace(',', '').replace('/>', '').replace('/p>', '') \
    .replace('p>', '').replace('/a>', '').replace('☁', 'clouds').replace('☂', 'rain') \
    .replace('9.4.5', '9.4-9.5').replace('/', ' ').replace('dryovercast', 'dry overcast') \
    .replace('dryclouded', 'dry clouded').replace('drysunny', 'dry sunny') \
    .replace('\xa0', '').replace('overcast22°c', 'overcast 22°c').replace('239', '23.9') \
    .replace('296', '29.6').replace('26.°c', '26°c').replace('22.3-24', '22.3-24.0') \
    .replace('20.4-°c', '20.4°c').replace('24.°c', '24°c').replace('clear26°c', 'clear 26°c') \
    .replace('dryclear', 'dry clear').replace('20.0', '20').replace('34.0', '34') \
    .replace('21.0', '21').replace('and', '').strip(' ')
    
    return weather

In [23]:
def range_filter(weather):
    if '-' in weather:
        nums = re.findall(r'[0-9]+[.][0-9]', weather)
        try:
            mean = str((eval(nums[0])+eval(nums[1]))/2)
            for num in nums:
                weather = weather.replace('-'.join(nums), mean)
            try:
                wrong_format = re.findall(r'[0-9]+[\.\,]?[0-9]*', weather)[0]
                new_format = wrong_format.replace(',', '.')
                weather = weather.replace(wrong_format, new_format)
            except:
                pass
        except:
            pass
    return weather

In [24]:
def weather_extract(sub_soup):
    try:
        if '</i>' in sub_soup:
            weath = sub_soup.split('</i>')[1:]
            if len(weath)==1:
                weather = weath[0].strip(' ').strip('<').replace('\xa0', '') \
                .replace('i class="fa fa-thermometer-half">', '')
            else:
                weather = (' '.join(weath)).replace('i class="fa fa-thermometer-half">', '').replace('<', '')
        else:
            weather = sub_soup.replace('<p>Weather: ', '') \
            .replace('<', '')('i class="fa fa-thermometer-half">', '').replace('<', '')
    except:
        weather = sub_soup.replace('Weather:', '').replace('\xa0', '').replace('<p> ', '').replace('<', '')
    
    weather = text_filter(weather)
    weather = range_filter(weather)
    
    return weather



weather_df.weather = weather_df.weather.apply(weather_extract)

In [25]:
weather_df.weather.unique()

array(['dry', '33°c dry', 'dry 21°c', 'dry 25°c', 'dry clear sky 30°c',
       'dry clear sky 17°c', 'dry clouded 20°c', 'dry clouded 16°c',
       'dry clouded 22°c', 'dry clear 26°c', 'dry clear sky 23°c',
       'dry clear sky 22°c', 'dry clouded 27°c',
       'dry partly clouded 17°c', 'dry clouded 17°c', 'wet clouded 26°c',
       'dry overcast 22°c', 'dry clear sky 25°c', 'dry light clouds',
       'dry clear sky', 'dry sunny', 'wet  overcast', '13°c dry clouded',
       '25°c dry sunny', '18°c dry sunny', '15°c wet dry overcast',
       '25°c dry clear', '29°c dry clear', '30°c dry sunny',
       '32°c dry sunny', '19°c dry', '18°c clouds  rain',
       '27°c dry  sunny', 'sunny dry 23°c', '12°c', '31°c dry',
       'sunny clear sky 26°c', 'sunny clear sky 24°c',
       'sunny clear sky 29°c', 'sunny clear sky 22°c',
       'sunny clear sky 23°c', 'sunny clear sky 27°c', '23°c dry sunny',
       '28°c wet  raining', '31°c dry  cloudy', '26°c dry  sunny',
       '27°c clear sky  sunny', '24°c dry  sunny', '25°c dry  clear sky',
       '21°c dry  sunny', '23.9°c dry  sunny', 'dry   29.6°c',
       'dry   18.9°c', 'dry 17.1°c', 'dry 15.4°c', 'dry 25.9°c',
       'dry 20°c', 'dry 25.2°c', 'dry   22.9°c', 'dry 26.7°c',
       'dry wet 25.4°c', 'sunny  34.2°c', 'dry  17.3°c', 'dry  20.9°c',
       'dry 29.7°c', 'dry 23.4°c', 'dry 29.4°c', 'dry 20.9°c',
       'dry 18.5°c', 'dry 24°c', 'partly clouded  dry', 'dry   23.6°c',
       'dry   26°c', 'dry   19.3°c', 'dry   20.0°c', 'dry   19.75°c',
       'dry   23.15°c', 'dry   29.7°c', 'dry   26.25°c', 'dry   34°c',
       'dry   18.3°c', 'wet   21.2°c', 'dry   26.8°c', 'dry   17.25°c',
       'dry   22.3°c', 'dry   30.3°c', 'dry   22.35°c', 'dry   21.75°c',
       'dry   21.3°c', 'dry  20.4°c', 'dry  25.85°c', 'dry   27.6°c',
       'dry   20°c', 'dry   21.6°c', 'dry  21°c', 'dry  24°c',
       'dry  29.9°c', 'dry  19.3°c', 'dry  27.8°c', 'dry  30.3°c',
       'dry  30.1°c', 'dry  9.8°c', 'dry   25.4°c', 'dry  18°c', '13.1°c',
       'dry  25.5°c', 'dry  21.3°c', 'dry  22.4°c', 'dry  20.5°c',
       'wet  9.45°c', 'dry  19.5°c', 'dry  21.4°c', 'dry  24.5°c',
       'dry  24.1°c', 'dry  26.8°c', 'dry  20.8°c', 'dry  29.4°c'],
      dtype=object)

In [26]:
# weather_df.to_csv('./CSV/weather.csv')

In [27]:
weather_df = pd.read_csv('./CSV/weather.csv').drop(['Unnamed: 0'], axis=1)

weather_df.head()

   season   race_name   weather
0    2014  australian       dry
1    2014   malaysian       dry
2    2015   malaysian  33°c dry
3    2015     chinese  dry 21°c
4    2015     bahrain  dry 25°c

In [28]:
weather_df[weather_df.race_name.str.contains('anniversary')]

     season         race_name    weather
106    2020  70th-anniversary  dry  24°c

In [29]:
def race_name_paralleliser(race):
    if race == 'usa':
        return 'us'
    elif race == 'mexico':
        return 'mexican'
    else:
        return race
    
    
    
weather_df.race_name = weather_df.race_name.apply(race_name_paralleliser)

In [30]:
def remove_citations(data):
    try:
        citations = re.findall(r'[\[][0-9][\]]', data)
        data = data.replace(citations[0], '')
    except:
        pass
    
    return data

In [31]:
def range_average(data):
    try:
        nums = re.findall(r'[0-9]+\sto\s[0-9]+', data)
        for num in nums:
            nums_sep = num.split(' to ')
            average = (eval(nums_sep[0])+eval(nums_sep[1]))/2
            data = data.replace(str(num), str(average))
            
    except:
        pass
    
    try:
        nums = re.findall(r'[0-9]+[–][0-9]+', data)
        for num in nums:
            nums_sep = num.split('–')
            average = (eval(nums_sep[0])+eval(nums_sep[1]))/2
            data = data.replace(str(num), str(average))
            
    except:
        pass
    
    return data

In [32]:
def remove_rogue_endings(data):
    try:
        rogue_s = re.findall(r'temperature[\s]+[s]\s', data)
        for s in rogue_s:
            data = data.replace(s, 'temperatures ')
    except:
        pass
    
    
    try:
        rogue_ing = re.findall(r'[\s]+ing[\s\.\,\:\;]+', data)
        for ing in rogue_ing:
            data = data.replace(ing, 'ing ')
    except:
        pass
    
    return data

In [33]:
def race_weather_extract(data):
    
    if (data == 'None') or (data == np.nan) or (data == 'nan'):
        return ''
    
    try:
        data = data.lower()
    except:
        pass
    
    data = str(data).replace('\xa0', '').replace('sunny', 'sunny ') \
    .replace('temperature', 'temperature ').replace(';', ' ').replace('(', ' (') \
    .replace('cloudy', 'cloudy ').replace('clear', 'clear ').replace('later', 'later ') \
    .replace('dry', 'dry ').replace('times', 'times ').replace(':', ' ')
    
    data = remove_citations(data)
    data = range_average(data)
    data = remove_rogue_endings(data)    
    
    return data + ' '

In [34]:
races.weather = races.weather.apply(race_weather_extract)

In [35]:
# races.weather.apply(race_weather_extract).unique()

In [36]:
weather_df.columns

Index(['season', 'race_name', 'weather'], dtype='object')

In [37]:
races_plus_all_weather = pd.merge(races, weather_df, on=['race_name', 'season'], how='outer')
races_plus_all_weather.weather_y.fillna('', inplace=True)
races_plus_all_weather['weather'] = races_plus_all_weather.weather_x + races_plus_all_weather.weather_y
races_plus_all_weather.drop(['weather_x', 'weather_y', 'url'], axis=1, inplace=True)
races_plus_all_weather

,season,round,race_name,circuitId,lat,long,country,date,distance,weather
0,2014,1,australian,albert_park,-37.84970,144.96800,Australia,2014-03-16,302.271,"overcast, 19°c (66°f) dry"
1,2014,2,malaysian,sepang,2.76083,101.73800,Malaysia,2014-03-30,310.408,"dry , 32°c dry"
2,2014,3,bahrain,bahrain,26.03250,50.51060,Bahrain,2014-04-06,308.238,dry
3,2014,4,chinese,shanghai,31.33890,121.22000,China,2014-04-20,294.164,"mostly cloudy , dry"
4,2014,5,spanish,catalunya,41.57000,2.26111,Spain,2014-05-11,307.104,sunny
...,...,...,...,...,...,...,...,...,...,...
156,2021,19,mexican,rodriguez,19.40420,-99.09070,Mexico,2021-10-31,,
157,2021,20,brazilian,interlagos,-23.70360,-46.69970,Brazil,2021-11-07,,
158,2021,21,australian,albert_park,-37.84970,144.96800,Australia,2021-11-21,,
159,2021,22,saudi-arabian,jeddah,21.54330,39.17280,Saudi Arabia,2021-12-05,,
160,2021,23,abu-dhabi,yas_marina,24.46720,54.60310,UAE,2021-12-12,,

### Extract Results from the API

#### Steps taken were:
##### Ergast API:

    - Use json to extract the information from the Ergast API, containing F1 data from 1950 to present.
    - All scraped information stored in a dictionary of lists and loaded into a dataframe.

##### Processing:

    - Overall race time for the drivers in millions of milliseconds.
        - For the purpose of preliminary scaling, time variable divided by 1000 to convert to seconds.

In [38]:
rounds = []
for year in np.array(races.season.unique()):
    rounds.append([year, list(races[races.season == year]['round'])])

# query API
    
results = defaultdict(list)

for season in rounds:
    for race in season[1]:
        try:
            url = f'https://ergast.com/api/f1/{season[0]}/{race}/results.json'
            r = requests.get(url)
            json = r.json()

            item = json['MRData']['RaceTable']['Races'][0]
            
            for j in range(len(item['Results'])):
                try:
                    results['season'].append(int(item['season']))
                except:
                    results['season'].append(np.nan)

                try:
                    results['round'].append(int(item['round']))
                except:
                    results['round'].append(np.nan)

                try:
                    results['circuitId'].append(item['Circuit']['circuitId'])
                except:
                    results['circuitId'].append(np.nan)

                try:
                    results['driverId'].append(item['Results'][j]['Driver']['driverId'])
                except:
                    results['driverId'].append(np.nan)
                
                try:
                    results['finish_position'].append(int(item['Results'][j]['position']))
                except:
                    results['finish_position'].append(np.nan)    

                try:
                    results['date_of_birth'].append(item['Results'][j]['Driver']
                                                    ['dateOfBirth'])
                except:
                    results['date_of_birth'].append(np.nan)

                try:
                    results['nationality'].append(item['Results'][j]['Driver']
                                                  ['nationality'])
                except:
                    results['nationality'].append(np.nan)

                try:
                    results['constructor'].append(item['Results'][j]['Constructor']
                                                  ['constructorId'])
                except:
                    results['constructor'].append(np.nan)

                try:
                    results['grid'].append(int(item['Results'][j]['grid']))
                except:
                    results['grid'].append(np.nan)

                try:
                    results['time'].append(int(item['Results'][j]['Time']['millis']))
                except:
                    results['time'].append(np.nan)

                try:
                    results['status'].append(item['Results'][j]['status'])
                except:
                    results['status'].append(np.nan)

                try:
                    results['points'].append(int(item['Results'][j]['points']))
                except:
                    results['points'].append(np.nan)


        except:
            pass

results = pd.DataFrame(results)

In [39]:
results.time = results.time/1000
results[results.season==2014].head(50)

,season,round,circuitId,driverId,finish_position,date_of_birth,nationality,constructor,grid,time,status,points
0,2014,1,albert_park,rosberg,1,1985-06-27,German,mercedes,3,5578.710,Finished,25
1,2014,1,albert_park,kevin_magnussen,2,1992-10-05,Danish,mclaren,4,5605.487,Finished,18
2,2014,1,albert_park,button,3,1980-01-19,British,mclaren,10,5608.737,Finished,15
3,2014,1,albert_park,alonso,4,1981-07-29,Spanish,ferrari,5,5613.994,Finished,12
4,2014,1,albert_park,bottas,5,1989-08-28,Finnish,williams,15,5626.349,Finished,10
5,2014,1,albert_park,hulkenberg,6,1987-08-19,German,force_india,7,5629.428,Finished,8
6,2014,1,albert_park,raikkonen,7,1979-10-17,Finnish,ferrari,11,5636.385,Finished,6
7,2014,1,albert_park,vergne,8,1990-04-25,French,toro_rosso,6,5639.151,Finished,4
8,2014,1,albert_park,kvyat,9,1994-04-26,Russian,toro_rosso,8,5642.295,Finished,2
9,2014,1,albert_park,perez,10,1990-01-26,Mexican,force_india,16,5664.626,Finished,1
10,2014,1,albert_park,sutil,11,1983-01-11,German,sauber,13,NaN,+1 Lap,0
11,2014,1,albert_park,gutierrez,12,1991-08-05,Mexican,sauber,20,NaN,+1 Lap,0
12,2014,1,albert_park,chilton,13,1991-04-21,British,marussia,17,NaN,+2 Laps,0
13,2014,1,albert_park,jules_bianchi,14,1989-08-03,French,marussia,18,NaN,+8 Laps,0
14,2014,1,albert_park,grosjean,15,1986-04-17,French,lotus_f1,22,NaN,ERS,0
15,2014,1,albert_park,maldonado,16,1985-03-09,Venezuelan,lotus_f1,21,NaN,ERS,0
16,2014,1,albert_park,ericsson,17,1990-09-02,Swedish,caterham,19,NaN,Oil pressure,0
17,2014,1,albert_park,vettel,18,1987-07-03,German,red_bull,12,NaN,Engine,0
18,2014,1,albert_park,hamilton,19,1985-01-07,British,mercedes,1,NaN,Engine,0
19,2014,1,albert_park,massa,20,1981-04-25,Brazilian,williams,9,NaN,Collision,0
20,2014,1,albert_park,kobayashi,21,1986-09-13,Japanese,caterham,14,NaN,Collision,0
21,2014,1,albert_park,ricciardo,22,1989-07-01,Australian,red_bull,2,5603.235,Disqualified,0
22,2014,2,sepang,hamilton,1,1985-01-07,British,mercedes,1,6025.974,Finished,25
23,2014,2,sepang,rosberg,2,1985-06-27,German,mercedes,3,6043.287,Finished,18
24,2014,2,sepang,vettel,3,1987-07-03,German,red_bull,2,6050.508,Finished,15
25,2014,2,sepang,alonso,4,1981-07-29,Spanish,ferrari,4,6061.966,Finished,12
26,2014,2,sepang,hulkenberg,5,1987-08-19,German,force_india,7,6073.173,Finished,10
27,2014,2,sepang,button,6,1980-01-19,British,mclaren,10,6109.665,Finished,8
28,2014,2,sepang,massa,7,1981-04-25,Brazilian,williams,13,6111.050,Finished,6
29,2014,2,sepang,bottas,8,1989-08-28,Finnish,williams,18,6111.511,Finished,4
30,2014,2,sepang,kevin_magnussen,9,1992-10-05,Danish,mclaren,8,NaN,+1 Lap,2
31,2014,2,sepang,kvyat,10,1994-04-26,Russian,toro_rosso,11,NaN,+1 Lap,1
32,2014,2,sepang,grosjean,11,1986-04-17,French,lotus_f1,15,NaN,+1 Lap,0
33,2014,2,sepang,raikkonen,12,1979-10-17,Finnish,ferrari,6,NaN,+1 Lap,0
34,2014,2,sepang,kobayashi,13,1986-09-13,Japanese,caterham,20,NaN,+1 Lap,0
35,2014,2,sepang,ericsson,14,1990-09-02,Swedish,caterham,22,NaN,+2 Laps,0
36,2014,2,sepang,chilton,15,1991-04-21,British,marussia,21,NaN,+2 Laps,0
37,2014,2,sepang,ricciardo,16,1989-07-01,Australian,red_bull,5,NaN,Technical,0
38,2014,2,sepang,gutierrez,17,1991-08-05,Mexican,sauber,12,NaN,Gearbox,0
39,2014,2,sepang,sutil,18,1983-01-11,German,sauber,17,NaN,Electrical,0
40,2014,2,sepang,vergne,19,1990-04-25,French,toro_rosso,9,NaN,Power Unit,0
41,2014,2,sepang,jules_bianchi,20,1989-08-03,French,marussia,19,NaN,Brakes,0
42,2014,2,sepang,maldonado,21,1985-03-09,Venezuelan,lotus_f1,16,NaN,Engine,0
43,2014,2,sepang,perez,22,1990-01-26,Mexican,force_india,14,NaN,Withdrew,0
44,2014,3,bahrain,hamilton,1,1985-01-07,British,mercedes,2,5982.743,Finished,25
45,2014,3,bahrain,rosberg,2,1985-06-27,German,mercedes,1,5983.828,Finished,18
46,2014,3,bahrain,perez,3,1990-01-26,Mexican,force_india,4,6006.810,Finished,15
47,2014,3,bahrain,ricciardo,4,1989-07-01,Australian,red_bull,13,6007.232,Finished,12
48,2014,3,bahrain,hulkenberg,5,1987-08-19,German,force_india,11,6011.397,Finished,10
49,2014,3,bahrain,vettel,6,1987-07-03,German,red_bull,10,6012.622,Finished,8

### Extract Qualifying Data from the API

#### Steps taken were:
##### Ergast API:

    - Use json to extract the information from the Ergast API, containing F1 data from 1950 to present.
    - All scraped information stored in a dictionary of lists and loaded into a dataframe.

##### Processing:

    - Qualifying times reformatted to seconds and milliseconds using qual_time_formatter function.
    - Average and Best qualifying times then produced for each driver for each race.
        - This removes the issue of non-appearances in Q2 and Q3 for drivers qualifying below the threshold.
    - Q1, Q2 & Q3 then dropped from the dataframe.

In [40]:
rounds = []
for year in np.array(races.season.unique()):
    rounds.append([year, list(races[races.season == year]['round'])])

# query API
    
qualis = defaultdict(list)

for season in rounds:
    for race in season[1]:
        try:
            url = f'https://ergast.com/api/f1/{season[0]}/{race}/qualifying.json'
            r = requests.get(url)
            json = r.json()

            item = json['MRData']['RaceTable']['Races'][0]
            for j in range(len(item['QualifyingResults'])):
                try:
                    qualis['season'].append(int(item['season']))
                except:
                    qualis['season'].append(np.nan)

                try:
                    qualis['round'].append(int(item['round']))
                except:
                    qualis['round'].append(np.nan)

                try:
                    qualis['circuitId'].append(item['Circuit']['circuitId'])
                except:
                    qualis['circuitId'].append(np.nan)

                try:
                    qualis['driverId'].append(item['QualifyingResults'][j]['Driver']['driverId'])
                except:
                    qualis['driverId'].append(np.nan)

                try:
                    qualis['qual_position'].append(int(item['QualifyingResults'][j]['position']))
                except:
                    qualis['qual_position'].append(np.nan)    

                try:
                    qualis['constructor'].append(item['QualifyingResults'][j]['Constructor']
                                                  ['constructorId'])
                except:
                    qualis['constructor'].append(np.nan)

                try:
                    qualis['q1'].append(str(item['QualifyingResults'][j]['Q1']))
                except:
                    qualis['q1'].append(np.nan)

                try:
                    qualis['q2'].append(str(item['QualifyingResults'][j]['Q2']))
                except:
                    qualis['q2'].append(np.nan)

                try:
                    qualis['q3'].append(str(item['QualifyingResults'][j]['Q3']))
                except:
                    qualis['q3'].append(np.nan)


        except:
            pass

qualifying = pd.DataFrame(qualis)

In [41]:
qualifying.head()

,season,round,circuitId,driverId,qual_position,constructor,q1,q2,q3
0,2014,1,albert_park,hamilton,1,mercedes,1:31.699,1:42.890,1:44.231
1,2014,1,albert_park,ricciardo,2,red_bull,1:30.775,1:42.295,1:44.548
2,2014,1,albert_park,rosberg,3,mercedes,1:32.564,1:42.264,1:44.595
3,2014,1,albert_park,kevin_magnussen,4,mclaren,1:30.949,1:43.247,1:45.745
4,2014,1,albert_park,alonso,5,ferrari,1:31.388,1:42.805,1:45.819

In [42]:
def qual_time_formatter(time):
    try:
        mins = eval(time[0])
        if time[2] == '0':
            secs = eval(time[3])
        else:
            secs = eval(time[2:4])
        mils = float(time[-4:])
        return((mins*60)+secs+mils)
    except:
        return np.nan

for qual in ['q1', 'q2', 'q3']:
    qualifying[qual] = qualifying[qual].apply(qual_time_formatter)

In [43]:
def quali_best(a, b, c):
    return min(a, b, c)

qualifying['q_best'] = qualifying.apply(lambda x: quali_best(x[6], x[7], x[8]), axis=1)

In [44]:
def quali_worst(a, b, c):
    return max(a, b, c)

qualifying['q_worst'] = qualifying.apply(lambda x: quali_worst(x[6], x[7], x[8]), axis=1)

In [45]:
def quali_average(a, b, c):
    try:
        sums = []
        for qual in [a, b, c]:
            if qual > 0:
                sums.append(qual)
        return (sum(sums)/len(sums))
    except:
        return np.nan

qualifying['q_mean'] = qualifying.apply(lambda x: quali_average(x[6], x[7], x[8]), axis=1)

Not all drivers make it out of q1 into q2, and then in to q3 - therefore for q2 and q3 there is some null data.

For this reason I've taken the overall best, mean and worst qualifying times for each driver as an indicator of their capability at that particular track on that particular weekend.

Since these are not strictly related, the three times should help identify consistency within qualifying for each driver.

In [46]:
qualifying.drop(['q1', 'q2', 'q3'], axis=1, inplace=True)

In [47]:
qualifying.corr()

                 season     round  qual_position    q_best   q_worst    q_mean
season         1.000000 -0.096160      -0.035558 -0.299107 -0.301067 -0.301989
round         -0.096160  1.000000      -0.003539  0.087135  0.077034  0.082327
qual_position -0.035558 -0.003539       1.000000  0.108857  0.056594  0.085516
q_best        -0.299107  0.087135       0.108857  1.000000  0.981752  0.995925
q_worst       -0.301067  0.077034       0.056594  0.981752  1.000000  0.994495
q_mean        -0.301989  0.082327       0.085516  0.995925  0.994495  1.000000

### Extract Driver Information from the API

#### Steps taken were:
##### Ergast API:

    - Use json to extract the information from the Ergast API, containing F1 data from 1950 to present.
    - All scraped information stored in a dictionary of lists and loaded into a dataframe.

##### Processing:

    - No processing required at this stage.
        - Further processing on this data during merge with other dataframes.

In [48]:
# query API

drivers = defaultdict(list)

for year in results.season.unique():
    url = f'http://ergast.com/api/f1/{year}/drivers.json'
    r = requests.get(url)
    json = r.json()
    
    try:
        items = json['MRData']['DriverTable']['Drivers']
        for j in range(len(items)):
            
            try:
                drivers['driverId'].append(items[j]['driverId'])
            except:
                drivers['driverId'].append(np.nan)
            
            try:
                forename = items[j]['givenName']
                surname = items[j]['familyName']
                
                drivers['name'].append(forename + ' ' + surname)
            except:
                drivers['name'].append(np.nan)
            
            try:
                drivers['nationality'].append(items[j]['nationality'])
            except:
                drivers['nationality'].append(np.nan)
            
            try:
                drivers['code'].append(items[j]['code'])
            except:
                drivers['code'].append(np.nan)            
            
            try:
                drivers['dateOfBirth'].append(items[j]['dateOfBirth'])
            except:
                drivers['dateOfBirth'].append(np.nan)
        
    except:
        pass
        
drivers = pd.DataFrame(drivers)
drivers = drivers.drop_duplicates().reset_index(drop=True)
drivers.head()

        driverId             name nationality code dateOfBirth
0         alonso  Fernando Alonso     Spanish  ALO  1981-07-29
1  jules_bianchi    Jules Bianchi      French  BIA  1989-08-03
2         bottas  Valtteri Bottas     Finnish  BOT  1989-08-28
3         button    Jenson Button     British  BUT  1980-01-19
4        chilton      Max Chilton     British  CHI  1991-04-21

In [49]:
results.status.unique()

array(['Finished', '+1 Lap', '+2 Laps', '+8 Laps', 'ERS', 'Oil pressure',
       'Engine', 'Collision', 'Disqualified', 'Technical', 'Gearbox',
       'Electrical', 'Power Unit', 'Brakes', 'Withdrew', 'Clutch',
       'Retired', 'Exhaust', '+3 Laps', 'Accident', 'Mechanical', 'Turbo',
       'Rear wing', 'Drivetrain', 'Suspension', 'Oil leak', 'Water leak',
       'Water pressure', 'Electronics', 'Collision damage', 'Wheel',
       'Power loss', 'Spun off', 'Fuel system', 'Transmission', '+4 Laps',
       'Front wing', 'Tyre', '+6 Laps', 'Throttle', 'Brake duct',
       'Excluded', 'Hydraulics', 'Battery', 'Puncture', 'Overheating',
       'Wheel nut', 'Vibrations', 'Driveshaft', 'Fuel pressure', 'Seat',
       'Spark plugs', 'Steering', 'Damage', 'Out of fuel', '+5 Laps',
       'Debris', 'Radiator', 'Illness'], dtype=object)

In [50]:
drivers.nationality.unique()

array(['Spanish', 'French', 'Finnish', 'British', 'Swedish', 'Mexican',
       'German', 'Japanese', 'Russian', 'Danish', 'Venezuelan',
       'Brazilian', 'Australian', 'American', 'Dutch', 'Indonesian',
       'Belgian', 'Italian', 'New Zealander', 'Canadian', 'Monegasque',
       'Thai', 'Polish'], dtype=object)

### Extract Circuit Information from API

#### Steps taken were:
##### Ergast API:

    - Use json to extract information contained within the Ergast API, containing F1 data from 1950 to present.
    - All scraped information stored in a dictionary of lists and loaded into a dataframe.
    
##### Further Scraping from Wikipedia

    - I found that wikipedia held all of the more in-depth information I required for the circuits, e.g.,
        - Street or Race circuit.
        - Clockwise/Counterclockwise (perhaps affecting the tyres of certain cars more for certain setups...)
        - Individual lap length.
        - Further information including name and location that were required for creating keys for merging.
    - Functions were created for each of the above to process a BeautifulSoup object.

##### Processing:

    - No processing required at this stage.
        - Further processing on this data during merge with other dataframes.
        
# still not finished

In [51]:
# query API

circuits = defaultdict(list)

for year in results.season.unique():
    url = f'http://ergast.com/api/f1/{year}/circuits.json'
    r = requests.get(url)
    json = r.json()
    
    try:
        items = json['MRData']['CircuitTable']['Circuits']
        for j in range(len(items)):
            
            try:
                circuits['circuitId'].append(items[j]['circuitId'])
            except:
                circuits['circuitId'].append(np.nan)
            
            try:
                circuits['circuitName'].append(items[j]['circuitName'])
            except:
                circuits['circuitName'].append(np.nan)
            
            try:
                circuits['lat'].append(items[j]['Location']['lat'])
            except:
                circuits['lat'].append(np.nan)

            try:
                circuits['long'].append(items[j]['Location']['long'])
            except:
                circuits['long'].append(np.nan)

            try:
                circuits['locality'].append(items[j]['Location']['locality'])
            except:
                circuits['locality'].append(np.nan)
            
            try:
                circuits['country'].append(items[j]['Location']['country'])
            except:
                circuits['country'].append(np.nan)
            
            try:
                circuits['url'].append(items[j]['url'])
            except:
                circuits['url'].append(np.nan)
        
    except:
        pass
        
circuits = pd.DataFrame(circuits)
circuits = circuits.drop_duplicates().reset_index(drop=True)
circuits

,circuitId,circuitName,lat,long,locality,country,url
0,albert_park,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,americas,Circuit of the Americas,30.1328,-97.6411,Austin,USA,http://en.wikipedia.org/wiki/Circuit_of_the_Am...
2,bahrain,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,catalunya,Circuit de Barcelona-Catalunya,41.57,2.26111,Montmeló,Spain,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany,http://en.wikipedia.org/wiki/Hockenheimring
5,hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary,http://en.wikipedia.org/wiki/Hungaroring
6,interlagos,Autódromo José Carlos Pace,-23.7036,-46.6997,São Paulo,Brazil,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...
7,marina_bay,Marina Bay Street Circuit,1.2914,103.864,Marina Bay,Singapore,http://en.wikipedia.org/wiki/Marina_Bay_Street...
8,monaco,Circuit de Monaco,43.7347,7.42056,Monte-Carlo,Monaco,http://en.wikipedia.org/wiki/Circuit_de_Monaco
9,monza,Autodromo Nazionale di Monza,45.6156,9.28111,Monza,Italy,http://en.wikipedia.org/wiki/Autodromo_Naziona...
10,red_bull_ring,Red Bull Ring,47.2197,14.7647,Spielburg,Austria,http://en.wikipedia.org/wiki/Red_Bull_Ring
11,sepang,Sepang International Circuit,2.76083,101.738,Kuala Lumpur,Malaysia,http://en.wikipedia.org/wiki/Sepang_Internatio...
12,shanghai,Shanghai International Circuit,31.3389,121.22,Shanghai,China,http://en.wikipedia.org/wiki/Shanghai_Internat...
13,silverstone,Silverstone Circuit,52.0786,-1.01694,Silverstone,UK,http://en.wikipedia.org/wiki/Silverstone_Circuit
14,sochi,Sochi Autodrom,43.4057,39.9578,Sochi,Russia,http://en.wikipedia.org/wiki/Sochi_Autodrom
15,spa,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
16,suzuka,Suzuka Circuit,34.8431,136.541,Suzuka,Japan,http://en.wikipedia.org/wiki/Suzuka_Circuit
17,villeneuve,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
18,yas_marina,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
19,rodriguez,Autódromo Hermanos Rodríguez,19.4042,-99.0907,Mexico City,Mexico,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_He...
20,BAK,Baku City Circuit,40.3725,49.8533,Baku,Azerbaijan,http://en.wikipedia.org/wiki/Baku_City_Circuit
21,ricard,Circuit Paul Ricard,43.2506,5.79167,Le Castellet,France,http://en.wikipedia.org/wiki/Paul_Ricard_Circuit
22,imola,Autodromo Enzo e Dino Ferrari,44.3439,11.7167,Imola,Italy,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...
23,istanbul,Istanbul Park,40.9517,29.405,Istanbul,Turkey,http://en.wikipedia.org/wiki/Istanbul_Park
24,mugello,Autodromo Internazionale del Mugello,43.9975,11.3719,Mugello,Italy,http://en.wikipedia.org/wiki/Mugello_Circuit
25,nurburgring,Nürburgring,50.3356,6.9475,Nürburg,Germany,http://en.wikipedia.org/wiki/N%C3%BCrburgring
26,portimao,Autódromo Internacional do Algarve,37.227,-8.6267,Portimão,Portugal,http://en.wikipedia.org/wiki/Algarve_Internati...
27,jeddah,Jeddah Street Circuit,21.5433,39.1728,Jeddah,Saudi Arabia,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
28,zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [52]:
results.columns

Index(['season', 'round', 'circuitId', 'driverId', 'finish_position',
       'date_of_birth', 'nationality', 'constructor', 'grid', 'time', 'status',
       'points'],
      dtype='object')

In [53]:
circuits.circuitId

0        albert_park
1           americas
2            bahrain
3          catalunya
4     hockenheimring
5        hungaroring
6         interlagos
7         marina_bay
8             monaco
9              monza
10     red_bull_ring
11            sepang
12          shanghai
13       silverstone
14             sochi
15               spa
16            suzuka
17        villeneuve
18        yas_marina
19         rodriguez
20               BAK
21            ricard
22             imola
23          istanbul
24           mugello
25       nurburgring
26          portimao
27            jeddah
28         zandvoort
Name: circuitId, dtype: object

In [54]:
def extractor(line, i):
    try:
        return line[i]
    except:
        return np.nan

In [68]:
scraped = defaultdict(list)

url = 'https://en.wikipedia.org/wiki/List_of_Formula_One_circuits'
result = requests.get(url)
soup = BeautifulSoup(result.text, 'html.parser')
tables = soup.find_all('table', attrs={'class':'wikitable'})
table = tables[1]
body = table.find('tbody')
for row in body.find_all('tr'):
    row_info = []
    line = [r.text.strip('\n').strip('✔') for r in row.find_all('td') if r.text.strip('\n')!='']

    scraped['name'].append(extractor(line, 0))
    track_type = extractor(line, 1)
    try:
        track_type.strip('circuit').strip(' ')
    except:
        pass
    scraped['type'].append(track_type)
    scraped['direction'].append(extractor(line, 2))
    scraped['location'].append(extractor(line, 3))
    scraped['length'].append(extractor(line, 4))

In [69]:
circuits_info = pd.DataFrame(scraped)
circuits_info.drop([0], inplace=True)
circuits_info.reset_index(drop=True, inplace=True)
circuits_info.head()

,name,type,direction,location,length
0,Adelaide Street Circuit,Street circuit,Clockwise,"Adelaide, Australia",3.780 km (2.349 mi)
1,Ain-Diab Circuit,Road circuit,Clockwise,"Casablanca, Morocco",7.618 km (4.734 mi)
2,Aintree Motor Racing Circuit,Road circuit,Clockwise,"Aintree, United Kingdom",4.828 km (3.000 mi)
3,Albert Park Circuit,Street circuit,Clockwise,"Melbourne, Australia",5.303 km (3.295 mi)
4,Algarve International Circuit,Race circuit,Clockwise,"Portimão, Portugal",4.653 km (2.891 mi)

In [70]:
circuits_info.length

0     3.780 km (2.349 mi)
1     7.618 km (4.734 mi)
2     4.828 km (3.000 mi)
3     5.303 km (3.295 mi)
4     4.653 km (2.891 mi)
             ...
71    3.703 km (2.301 mi)
72    5.419 km (3.367 mi)
73    5.430 km (3.374 mi)
74    5.554 km (3.451 mi)
75    3.186 km (1.980 mi)
Name: length, Length: 76, dtype: object

In [71]:
def length_formatter(length):
    return float(length.split('km')[0].strip(' ').strip('\xa0'))

In [72]:
circuits_info.length = circuits_info.length.apply(length_formatter)

In [73]:
circuits_info.length.unique()

array([ 3.78 ,  7.618,  4.828,  5.303,  4.653,  4.36 ,  4.304,  5.031,
        5.245,  4.909,  4.309,  5.793,  4.259,  8.3  ,  5.412,  6.003,
        3.703,  5.141,  4.43 ,  3.65 ,  8.055,  7.208,  4.675,  3.337,
        4.411,  7.004,  4.361,  4.265,  5.513,  5.842,  4.262,  7.775,
        4.428,  5.44 ,  3.404,  3.901,  4.168,  3.886,  4.02 ,  4.563,
        5.41 ,  4.574,  4.381,  4.086,  4.192,  5.338,  6.175,  5.615,
        4.2  ,  3.275,  5.063,  3.791,  3.957,  3.724,  5.148,  6.316,
       25.8  ,  3.72 ,  3.92 ,  4.318,  8.302,  5.271,  6.542,  4.031,
        8.356,  5.543,  5.451,  5.891,  5.848,  5.807,  5.419,  5.43 ,
        5.554,  3.186])

    None of the following circuits have not yet been completed since 2014 at the time of EDA, being scheduled for later in 2021.
    
    Circuit Zandvoort
    Jeddah Street Circuit
    Hard Rock Stadium Circuit

In [74]:
circuits.shape

(29, 7)

In [75]:
circuits.circuitName.unique()

array(['Albert Park Grand Prix Circuit', 'Circuit of the Americas',
       'Bahrain International Circuit', 'Circuit de Barcelona-Catalunya',
       'Hockenheimring', 'Hungaroring', 'Autódromo José Carlos Pace',
       'Marina Bay Street Circuit', 'Circuit de Monaco',
       'Autodromo Nazionale di Monza', 'Red Bull Ring',
       'Sepang International Circuit', 'Shanghai International Circuit',
       'Silverstone Circuit', 'Sochi Autodrom',
       'Circuit de Spa-Francorchamps', 'Suzuka Circuit',
       'Circuit Gilles Villeneuve', 'Yas Marina Circuit',
       'Autódromo Hermanos Rodríguez', 'Baku City Circuit',
       'Circuit Paul Ricard', 'Autodromo Enzo e Dino Ferrari',
       'Istanbul Park', 'Autodromo Internazionale del Mugello',
       'Nürburgring', 'Autódromo Internacional do Algarve',
       'Jeddah Street Circuit', 'Circuit Park Zandvoort'], dtype=object)

In [76]:
def referencer(name):
    name = name.lower()
    
    if 'adelaide' in name:
        return 'adelaide'
    elif 'diab' in name:
        return 'ain-diab'
    elif 'aintree' in name:
        return 'aintree'
    elif 'albert' in name:
        return 'albert_park'
    elif 'americas' in name:
        return 'americas'
    elif 'scandinavian' in name:
        return 'anderstorp'
    elif 'avus' in name:
        return 'avus'
    elif 'baku' in name:
        return 'BAK'
    elif 'bahrain' in name:
        return 'bahrain'
    elif 'boavista' in name:
        return 'boavista'
    elif 'brands hatch' in name:
        return 'brands_hatch'
    elif 'bremgarten' in name:
        return 'bremgarten'
    elif 'buddh' in name:
        return 'buddh'
    elif 'catalunya' in name:
        return 'catalunya'
    elif 'charade' in name:
        return 'charade'
    elif ('fair park' in name) or ('dallas' in name):
        return 'dallas'
    elif 'detroit' in name:
        return 'detroit'
    elif 'dijon' in name:
        return 'dijon'
    elif 'donington' in name:
        return 'donington'
    elif 'essarts' in name:
        return 'essarts'
    elif 'estoril' in name:
        return 'estoril'
    elif 'fuji' in name:
        return 'fuji'
    elif 'juan g' in name:
        return 'galvez'
    elif 'prince george' in name:
        return 'george'
    elif 'hanoi' in name:
        return 'hanoi'
    elif 'hockenheimring' in name:
        return 'hockenheimring'
    elif 'hungaroring' in name:
        return 'hungaroring'
    elif 'imperial' in name:
        return 'port_imperial'
    elif 'dino ferrari' in name:
        return 'imola'
    elif 'indianapolis' in name:
        return 'indianapolis'
    elif 'carlos pace' in name:
        return 'interlagos'
    elif 'istanbul' in name:
        return 'istanbul'
    elif 'jarama' in name:
        return 'jarama'
    elif 'piquet' in name:
        return 'jacarepagua'
    elif 'jeddah' in name:
        return 'jeddah'
    elif 'jerez' in name:
        return 'jerez'
    elif 'kyalami' in name:
        return 'kyalami'
    elif ('las vegas' in name) or ('caesars' in name):
        return 'las_vegas'
    elif ('le mans' in name) or ('bugatti' in name):
        return 'lemans'
    elif 'long beach' in name:
        return 'long_beach'
    elif 'magny' in name:
        return 'magny_cours'
    elif 'marina bay' in name:
        return 'marina_bay'
    elif 'monaco' in name:
        return 'monaco'
    elif 'monsanto' in name:
        return 'monsanto'
    elif 'montju' in name:
        return 'montjuic'
    elif 'monza' in name:
        return 'monza'
    elif 'mosport' in name:
        return 'mosport'
    elif 'mugello' in name:
        return 'mugello'
    elif 'nivelles' in name:
        return 'nivelles'
    elif 'nürburgring' in name:
        return 'nurburgring'
    elif 'okayama' in name:
        return 'okayama'
    elif 'a1' in name:
        return 'osterreichring'
    elif 'pedralbes' in name:
        return 'pedralbes'
    elif 'pescara' in name:
        return 'pescara'
    elif 'phoenix' in name:
        return 'phoenix'
    elif 'algarve' in name:
        return 'portimao'
    elif 'red bull' in name:
        return 'red_bull_ring'
    elif 'reims' in name:
        return 'reims'
    elif 'ricard' in name:
        return 'ricard'
    elif 'riverside' in name:
        return 'riverside'
    elif 'hermanos' in name:
        return 'rodriguez'
    elif 'sebring' in name:
        return 'sebring'
    elif 'sepang' in name:
        return 'sepang'
    elif 'shanghai' in name:
        return 'shanghai'
    elif 'silverstone' in name:
        return 'silverstone'
    elif 'sochi' in name:
        return 'sochi'
    elif 'francorchamps' in name:
        return 'spa'
    elif 'suzuka' in name:
        return 'suzuka'
    elif 'tremblant' in name:
        return 'tremblant'
    elif 'valencia' in name:
        return 'valencia'
    elif 'villeneuve' in name:
        return 'villeneuve'
    elif 'watkins' in name:
        return 'watkins_glen'
    elif 'yas marina' in name:
        return 'yas_marina'
    elif 'korea' in name:
        return 'yeongam'
    elif 'zandvoort' in name:
        return 'zandvoort'
    elif 'zeltweg' in name:
        return 'zeltweg'
    elif 'zolder' in name:
        return 'zolder'
    else:
        return np.nan

In [77]:
circuits_info['circuitId'] = circuits_info.name.apply(referencer)

In [78]:
circuits_info.circuitId.unique()

array(['adelaide', 'ain-diab', 'aintree', 'albert_park', 'portimao',
       'estoril', 'rodriguez', 'jacarepagua', 'mugello', 'imola',
       'interlagos', 'monza', 'galvez', 'avus', 'bahrain', 'BAK',
       'brands_hatch', 'buddh', 'lemans', 'las_vegas', 'charade',
       'bremgarten', 'catalunya', 'monaco', 'magny_cours', 'spa',
       'villeneuve', 'tremblant', 'americas', 'ricard', 'zandvoort',
       'zolder', 'boavista', 'jerez', 'monsanto', 'jarama', 'dallas',
       'detroit', 'dijon', 'donington', 'fuji', nan, 'hockenheimring',
       'hungaroring', 'indianapolis', 'istanbul', 'jeddah', 'yeongam',
       'kyalami', 'long_beach', 'marina_bay', 'montjuic', 'mosport',
       'nivelles', 'nurburgring', 'pedralbes', 'pescara', 'phoenix',
       'george', 'red_bull_ring', 'reims', 'riverside', 'essarts',
       'anderstorp', 'sebring', 'sepang', 'shanghai', 'silverstone',
       'sochi', 'suzuka', 'valencia', 'watkins_glen', 'yas_marina',
       'zeltweg'], dtype=object)

In [79]:
circuits_info.shape

(76, 6)

In [80]:
circuits_info[circuits_info.circuitId.isnull()]

,name,type,direction,location,length,circuitId
41,Hard Rock Stadium Circuit,Road circuit,Anti-Clockwise,"Miami, United States",5.410,NaN
44,Igora Drive,Race circuit,Anti-clockwise,"Sosnovo, Russia",4.086,NaN
71,TI Circuit Aida,Race circuit,Clockwise,"Mimasaka, Japan",3.703,NaN

    Hard Rock Stadium is a circuit that has been newly designated for the 2022 season and therefore can be dropped from the data.

In [81]:
circuits_info.dropna(inplace=True)

In [82]:
circuits_info

,name,type,direction,location,length,circuitId
0,Adelaide Street Circuit,Street circuit,Clockwise,"Adelaide, Australia",3.780,adelaide
1,Ain-Diab Circuit,Road circuit,Clockwise,"Casablanca, Morocco",7.618,ain-diab
2,Aintree Motor Racing Circuit,Road circuit,Clockwise,"Aintree, United Kingdom",4.828,aintree
3,Albert Park Circuit,Street circuit,Clockwise,"Melbourne, Australia",5.303,albert_park
4,Algarve International Circuit,Race circuit,Clockwise,"Portimão, Portugal",4.653,portimao
...,...,...,...,...,...,...
70,Suzuka Circuit,Race circuit,Part clockwise and part anti-clockwise (figure...,"Suzuka, Japan",5.807,suzuka
72,Valencia Street Circuit,Street circuit,Clockwise,"Valencia, Spain",5.419,valencia
73,Watkins Glen,Race circuit,Clockwise,"Watkins Glen, United States",5.430,watkins_glen
74,Yas Marina Circuit,Race circuit,Anti-clockwise,"Abu Dhabi, United Arab Emirates",5.554,yas_marina
75,Zeltweg Airfield,Road circuit,Clockwise,"Zeltweg, Austria",3.186,zeltweg

In [83]:
circuits_info.shape

(73, 6)

    The names and locations of tracks are contained within both circuits and circuits_info dataframes, and therefore the names and locations of tracks will be dropped from the circuits_info dataframe before joining on cicuitRef for continuity purposes.

In [84]:
circuits_info.drop(['name', 'location'], axis=1, inplace=True)

circuits_complete = circuits.merge(circuits_info, on='circuitId', how='inner')

In [85]:
circuits_complete.head()

,circuitId,circuitName,lat,long,locality,country,url,type,direction,length
0,albert_park,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Street circuit,Clockwise,5.303
1,americas,Circuit of the Americas,30.1328,-97.6411,Austin,USA,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Race circuit,Anti-clockwise,5.513
2,bahrain,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...,Race circuit,Clockwise,5.412
3,catalunya,Circuit de Barcelona-Catalunya,41.57,2.26111,Montmeló,Spain,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,Race circuit,Clockwise,4.675
4,hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany,http://en.wikipedia.org/wiki/Hockenheimring,Race circuit,Clockwise,4.574

# Collecting the Comparison Data

### Constructor Standings Data for 2020

In [86]:
# query API

constructor_standings = defaultdict(list)

url = f'http://ergast.com/api/f1/2020/constructorStandings.json'
r = requests.get(url)
json = r.json()

try:
    items = json['MRData']['StandingsTable']['StandingsLists'][0]['ConstructorStandings']
    for item in items:

        try:
            constructor_standings['position'].append(int(item['position']))
        except:
            constructor_standings['position'].append(np.nan)

        try:
            constructor_standings['constructor'].append(item['Constructor']['constructorId'])
        except:
            constructor_standings['constructor'].append(np.nan)

        try:
            constructor_standings['points'].append(int(item['points']))
        except:
            constructor_standings['points'].append(np.nan)

except:
    pass
        

constructor_standings = pd.DataFrame(constructor_standings)
constructor_standings = constructor_standings.drop_duplicates().reset_index(drop=True)
constructor_standings.to_csv('./CSV/constructor_standings.csv')
constructor_standings

   position   constructor  points
0         1      mercedes     573
1         2      red_bull     319
2         3       mclaren     202
3         4  racing_point     195
4         5       renault     181
5         6       ferrari     131
6         7    alphatauri     107
7         8          alfa       8
8         9          haas       3
9        10      williams       0

### Driver Standings Data for 2020

In [87]:
# query API

driver_standings = defaultdict(list)

url = f'http://ergast.com/api/f1/2020/driverStandings.json'
r = requests.get(url)
json = r.json()

try:
    items = json['MRData']['StandingsTable']['StandingsLists'][0]['DriverStandings']
    for item in items:
        
        try:
            driver_standings['driverId'].append(item['Driver']['driverId'])
        except:
            driver_standings['driverId'].append(np.nan)
        
        try:
            driver_standings['position'].append(int(item['position']))
        except:
            driver_standings['position'].append(np.nan)
        
        try:
            driver_standings['points'].append(int(item['points']))
        except:
            driver_standings['points'].append(np.nan)
        
except:
    pass
        

driver_standings = pd.DataFrame(driver_standings)
driver_standings.to_csv('./CSV/driver_standings.csv')
driver_standings

             driverId  position  points
0            hamilton         1     347
1              bottas         2     223
2      max_verstappen         3     214
3               perez         4     125
4           ricciardo         5     119
5               sainz         6     105
6               albon         7     105
7             leclerc         8      98
8              norris         9      97
9               gasly        10      75
10             stroll        11      75
11               ocon        12      62
12             vettel        13      33
13              kvyat        14      32
14         hulkenberg        15      10
15          raikkonen        16       4
16         giovinazzi        17       4
17            russell        18       3
18           grosjean        19       2
19    kevin_magnussen        20       1
20             latifi        21       0
21             aitken        22       0
22  pietro_fittipaldi        23       0

# Merging the Data

In [88]:
res_qual = pd.merge(results, qualifying, on=['circuitId', 'season', 'round', 'driverId', 'constructor'], how='outer')
races_final = races_plus_all_weather.drop(['lat', 'long', 'country'], axis=1)
race_res_qual = pd.merge(races_final, res_qual, on=['circuitId', 'season', 'round'], how='outer')
race_res_qual.drop(['date_of_birth', 'nationality'], axis=1, inplace=True)
driver_race_res_qual = pd.merge(race_res_qual, drivers, on='driverId', how='outer')
merged = pd.merge(driver_race_res_qual, circuits_complete, on='circuitId', how='outer').drop(['url'], axis=1)

merged.head()

,season,round,race_name,circuitId,date,distance,weather,driverId,finish_position,constructor,...,code,dateOfBirth,circuitName,lat,long,locality,country,type,direction,length
0,2014,1,australian,albert_park,2014-03-16,302.271,"overcast, 19°c (66°f) dry",rosberg,1.0,mercedes,...,ROS,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303
1,2015,1,australian,albert_park,2015-03-15,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,rosberg,2.0,mercedes,...,ROS,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303
2,2016,1,australian,albert_park,2016-03-20,302.271,partly cloudy 22.5°c (72.5°f) air temperature...,rosberg,1.0,mercedes,...,ROS,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303
3,2014,1,australian,albert_park,2014-03-16,302.271,"overcast, 19°c (66°f) dry",kevin_magnussen,2.0,mclaren,...,MAG,1992-10-05,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303
4,2015,1,australian,albert_park,2015-03-15,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,kevin_magnussen,17.0,mclaren,...,MAG,1992-10-05,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303

In [89]:
merged.to_csv('./CSV/merged_database.csv')

In [90]:
# merged = pd.read_csv('./CSV/merged_database.csv').drop(['Unnamed: 0'], axis=1)

In [91]:
merged.dateOfBirth = pd.to_datetime(merged.dateOfBirth)
merged.date = pd.to_datetime(merged.date)
merged['ageDuringRace'] = merged.apply(lambda x: x[4] - x[21], axis=1)

Many constructors' names have changed over the years due to things such as sponsorship and mergers, with minimal changes to the structure of the team. Therefore the names of those such as Aston Martin, which has changed names twice in the hybrid era since being bought by Lawrence Stroll from Force India and rebranding to Racing Point until the end of the 2020 season before teaming up with Aston Martin as sponsors.

All names have been kept synonymous with the names as of the 2020 season.

In [92]:
merged.constructor.unique()

array(['mercedes', 'mclaren', 'renault', 'haas', 'ferrari', 'williams',
       'force_india', 'alfa', 'toro_rosso', 'red_bull', 'racing_point',
       'sauber', 'marussia', 'lotus_f1', 'caterham', 'manor', nan,
       'alpine', 'alphatauri', 'aston_martin'], dtype=object)

In [93]:
def constructor_combine(constructor):
    if (constructor=='alpine') or (constructor=='lotus_f1'):
        return 'renault'
    if (constructor=='force_india') or (constructor=='aston_martin'):
        return 'racing_point'
    if constructor=='toro_rosso':
        return 'alphatauri'
    if constructor=='marussia':
        return 'manor'
    if constructor=='sauber':
        return 'alfa'
    return constructor

In [94]:
merged.constructor = merged.constructor.apply(constructor_combine)

In [95]:
merged.constructor.unique()

array(['mercedes', 'mclaren', 'renault', 'haas', 'ferrari', 'williams',
       'racing_point', 'alfa', 'alphatauri', 'red_bull', 'manor',
       'caterham', nan], dtype=object)

In [96]:
merged.head()

,season,round,race_name,circuitId,date,distance,weather,driverId,finish_position,constructor,...,dateOfBirth,circuitName,lat,long,locality,country,type,direction,length,ageDuringRace
0,2014,1,australian,albert_park,2014-03-16,302.271,"overcast, 19°c (66°f) dry",rosberg,1.0,mercedes,...,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303,10489 days
1,2015,1,australian,albert_park,2015-03-15,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,rosberg,2.0,mercedes,...,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303,10853 days
2,2016,1,australian,albert_park,2016-03-20,302.271,partly cloudy 22.5°c (72.5°f) air temperature...,rosberg,1.0,mercedes,...,1985-06-27,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303,11224 days
3,2014,1,australian,albert_park,2014-03-16,302.271,"overcast, 19°c (66°f) dry",kevin_magnussen,2.0,mclaren,...,1992-10-05,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303,7832 days
4,2015,1,australian,albert_park,2015-03-15,307.574,partly cloudy 17.5°c (63.5°f) air temperature...,kevin_magnussen,17.0,mclaren,...,1992-10-05,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,Street circuit,Clockwise,5.303,8196 days

In [97]:
merged.columns

Index(['season', 'round', 'race_name', 'circuitId', 'date', 'distance',
       'weather', 'driverId', 'finish_position', 'constructor', 'grid', 'time',
       'status', 'points', 'qual_position', 'q_best', 'q_worst', 'q_mean',
       'name', 'nationality', 'code', 'dateOfBirth', 'circuitName', 'lat',
       'long', 'locality', 'country', 'type', 'direction', 'length',
       'ageDuringRace'],
      dtype='object')

In [98]:
main_df = merged[['season', 'round', 'race_name',
                     'name', 'constructor', 'grid', 'qual_position',
                     'q_best', 'q_worst', 'q_mean', 'ageDuringRace', 'circuitId',
                     'locality', 'country', 'type', 'direction', 'length', 
                     'weather', 'time', 'finish_position', 'status', 'points']]

# Additional Feature Extraction

In [99]:
main_df = main_df.sort_values(by=['season', 'round', 'finish_position'])
main_df.reset_index(inplace=True, drop=True)


time_exerpt = main_df.time
position_exerpt = main_df.finish_position
minimum = []

for i in range(len(position_exerpt)):
    if position_exerpt[i]==1:
        minimum.append(time_exerpt[i])
    else:
        minimum.append(np.nan)

main_df['min'] = minimum
main_df['min'].ffill(inplace=True)
main_df['split_times'] = main_df['time'] - main_df['min']
main_df.split_times.isnull().sum()

1631

In [100]:
main_df.split_times.ffill(inplace=True)

def split_compute(split, status):
    try:
        if 'Laps' in status:
            if type(eval(status[1])) == int:
                return split*int(status[1])
        else:
            return split
    except:
        return split



new_splits = []

for i in range(main_df.shape[0]):
    new_splits.append(split_compute(main_df.split_times[i], main_df.status[i]))

main_df['filled_splits'] = new_splits

In [101]:
main_df.isnull().sum()

season                0
round                 0
race_name             0
name                 13
constructor          13
grid                 23
qual_position        39
q_best               75
q_worst              75
q_mean               75
ageDuringRace        13
circuitId             0
locality              0
country               0
type                  0
direction             0
length                0
weather               0
time               1631
finish_position      23
status               23
points               23
min                   0
split_times           0
filled_splits         0
dtype: int64

In [102]:
main_df.drop(['time', 'min', 'status', 'split_times'], axis=1, inplace=True)
main_df.dropna(inplace=True)
main_df.head()

,season,round,race_name,name,constructor,grid,qual_position,q_best,q_worst,q_mean,...,circuitId,locality,country,type,direction,length,weather,finish_position,points,filled_splits
0,2014,1,australian,Nico Rosberg,mercedes,3.0,3.0,92.564,104.595,99.807667,...,albert_park,Melbourne,Australia,Street circuit,Clockwise,5.303,"overcast, 19°c (66°f) dry",1.0,25.0,0.000
1,2014,1,australian,Kevin Magnussen,mclaren,4.0,4.0,90.949,105.745,99.980333,...,albert_park,Melbourne,Australia,Street circuit,Clockwise,5.303,"overcast, 19°c (66°f) dry",2.0,18.0,26.777
2,2014,1,australian,Jenson Button,mclaren,10.0,11.0,91.396,104.437,97.916500,...,albert_park,Melbourne,Australia,Street circuit,Clockwise,5.303,"overcast, 19°c (66°f) dry",3.0,15.0,30.027
3,2014,1,australian,Fernando Alonso,ferrari,5.0,5.0,91.388,105.819,100.004000,...,albert_park,Melbourne,Australia,Street circuit,Clockwise,5.303,"overcast, 19°c (66°f) dry",4.0,12.0,35.284
4,2014,1,australian,Valtteri Bottas,williams,15.0,10.0,91.601,108.147,101.200000,...,albert_park,Melbourne,Australia,Street circuit,Clockwise,5.303,"overcast, 19°c (66°f) dry",5.0,10.0,47.639

In [103]:
main_df.shape

(2965, 21)

In [104]:
main_df.dtypes

season                       int64
round                        int64
race_name                   object
name                        object
constructor                 object
grid                       float64
qual_position              float64
q_best                     float64
q_worst                    float64
q_mean                     float64
ageDuringRace      timedelta64[ns]
circuitId                   object
locality                    object
country                     object
type                        object
direction                   object
length                     float64
weather                     object
finish_position            float64
points                     float64
filled_splits              float64
dtype: object

In [105]:
main_df.to_csv('./CSV/main_df.csv')

# Tableau CSVs

### Age vs. Pointscoring

In [106]:
age_points = merged[['name', 'ageDuringRace', 'points']].copy()
age_points.isnull().sum()
age_points.dropna(inplace=True)
age_points.ageDuringRace = age_points.ageDuringRace.dt.days

In [107]:
def age_bracket(age):
    return age//365

In [108]:
age_points.ageDuringRace = age_points.ageDuringRace.apply(age_bracket)

In [109]:
age_points.to_csv('./CSV/age_points.csv')

In [110]:
age_points[age_points.ageDuringRace==38]

                name  ageDuringRace  points
32    Kimi Räikkönen             38    15.0
244   Kimi Räikkönen             38     0.0
423   Kimi Räikkönen             38    15.0
551   Kimi Räikkönen             38     0.0
713   Kimi Räikkönen             38    12.0
855   Kimi Räikkönen             38     8.0
987   Kimi Räikkönen             38    18.0
1191  Kimi Räikkönen             38    15.0
1356  Kimi Räikkönen             38    15.0
1453  Kimi Räikkönen             38    15.0
1598  Kimi Räikkönen             38     0.0
1745  Kimi Räikkönen             38    18.0
1888  Kimi Räikkönen             38    10.0
2011  Kimi Räikkönen             38    10.0
2139  Kimi Räikkönen             38    12.0
2282  Kimi Räikkönen             38    15.0
2405  Kimi Räikkönen             38    15.0
2530  Kimi Räikkönen             38    12.0
2664  Kimi Räikkönen             38    15.0
2766  Kimi Räikkönen             38    18.0
2856  Kimi Räikkönen             38    15.0

### Home Nation Pointscoring

In [111]:
merged.nationality.unique()

array(['German', 'Danish', 'British', 'Spanish', 'Finnish', 'French',
       'Russian', 'Mexican', 'Venezuelan', 'Swedish', 'Brazilian',
       'Japanese', 'Australian', 'Dutch', 'Indonesian', 'Belgian',
       'Italian', 'Canadian', 'New Zealander', 'Monegasque', 'Thai',
       'Polish', nan, 'American'], dtype=object)

In [112]:
merged.country.unique()

array(['Australia', 'Malaysia', 'Bahrain', 'China', 'Spain', 'Monaco',
       'Canada', 'Austria', 'UK', 'Germany', 'Hungary', 'Belgium',
       'Italy', 'Singapore', 'Japan', 'Russia', 'USA', 'Brazil', 'UAE',
       'Mexico', 'Azerbaijan', 'France', 'Portugal', 'Turkey',
       'Netherlands', 'Saudi Arabia'], dtype=object)

In [113]:
def home_nation(nat):
    if nat == 'German':
        return 'Germany'
    elif nat == 'British':
        return 'UK'
    elif nat == 'Spanish':
        return 'Spain'
    elif nat == 'French':
        return 'France'
    elif nat == 'Russian':
        return 'Russia'
    elif nat == 'Mexican':
        return 'Mexico'
    elif nat == 'Brazilian':
        return 'Brazil'
    elif nat == 'Japanese':
        return 'Japan'
    elif nat == 'Australian':
        return 'Australia'
    elif nat == 'Dutch':
        return 'Austria'
    elif nat == 'Belgian':
        return 'Belgium'
    elif nat == 'Italian':
        return 'Italy'
    elif nat == 'Canadian':
        return 'Canada'
    elif nat == 'Monegasque':
        return 'Monaco'
    elif nat == 'American':
        return 'USA'
    else:
        return np.nan

In [114]:
def driver_country_filter(country):
    driver_nations = ['Germany', 'Denmark', 'UK', 'Spain', 'Finland', 'France',
                      'Russia', 'Mexico', 'Venezuela', 'Sweden', 'Brazil',
                      'Japan', 'Australia', 'Austria', 'Indonesia', 'Belgium',
                      'Italy', 'Canada', 'New Zealand', 'Monaco', 'Thailand',
                      'Poland', 'USA']
    if country in driver_nations:
        return country
    else:
        return np.nan

In [115]:
home_races = merged[['country', 'nationality', 'points']].copy()

In [116]:
home_races.dropna(inplace=True)

In [117]:
home_races['scored'] = (home_races['points']>0)*1

In [118]:
home_races.drop(['points'], axis=1, inplace=True)

In [119]:
home_races['nat_country'] = home_races.nationality.apply(home_nation)

In [120]:
home_races.country = home_races.country.apply(driver_country_filter)

In [121]:
home_races.dropna(inplace=True)

In [122]:
home_races.head()

      country nationality  scored nat_country
0   Australia      German       1     Germany
1   Australia      German       1     Germany
2   Australia      German       1     Germany
9   Australia     British       1          UK
10  Australia     British       0          UK

In [123]:
h = home_races.sort_values(by='scored', ascending=False).groupby(['country', 'nationality']).agg('mean')#.sort_values(by='scored', ascending=False)

In [124]:
h.sort_values(by=['country', 'scored'], ascending=[True, False]).head(30)

                         scored
country   nationality
Australia Dutch        0.800000
          German       0.764706
          Brazilian    0.666667
          Spanish      0.666667
          Australian   0.500000
          Belgian      0.500000
          Monegasque   0.500000
          Russian      0.500000
          British      0.428571
          Mexican      0.375000
          Canadian     0.333333
          French       0.250000
          Italian      0.000000
          Japanese     0.000000
Austria   Monegasque   0.833333
          Dutch        0.777778
          Mexican      0.666667
          Australian   0.600000
          Spanish      0.588235
          British      0.555556
          Brazilian    0.500000
          German       0.458333
          French       0.409091
          Italian      0.400000
          Japanese     0.333333
          Canadian     0.272727
          Russian      0.100000
          Belgian      0.000000
Belgium   Mexican      0.666667
          German       0.600000

In [125]:
home_races.to_csv('./CSV/home_races.csv')

### Driver & Constructor Consistency

In [126]:
no_fault = ['Finished', '+2 Laps', '+1 Lap','+8 Laps', '+3 Laps', '+4 Laps', '+5 Laps','+6 Laps']
 
driver_fault = ['Retired', 'Withdrew', 'Collision', 'Accident', 'Disqualified', 'Damage',
                'Spun off', 'Collision damage', 'Puncture', 'Rear wing', 'Tyre', 'Front wing',
                'Excluded', 'Illness']

car_fault = ['Suspension', 'Wheel', 'Vibrations', 'Engine', 'ERS',
              'Power loss', 'Water leak',  'Oil pressure', 'Hydraulics',
              'Steering', 'Power Unit', 'Brakes', 'Mechanical', 'Turbo',
              'Battery', 'Electrical', 'Gearbox', 'Wheel nut', 'Technical',
              'Fuel system', 'Clutch', 'Out of fuel', 'Driveshaft',
              'Transmission', 'Fuel pressure', 'Exhaust','Oil leak', 
              'Electronics', 'Drivetrain','Overheating',  'Water pressure',
              'Radiator','Debris', 'Throttle', 'Spark plugs', 'Brake duct', 'Seat']

In [127]:
def status_fault(status, no=no_fault, driver=driver_fault):
    if status in no:
        return 'finish'
    elif status in driver:
        return 'driver'
    else:
        return 'car'

In [128]:
status_issues = merged[['season', 'name', 'constructor', 'status']].copy()

In [129]:
status_issues['fault'] = status_issues.status.apply(status_fault)

In [130]:
status_issues.drop(['status'], axis=1, inplace=True)

In [131]:
driver_issues = status_issues[['season', 'name', 'fault']].copy()
driver_issues = driver_issues[driver_issues.fault!='car']

In [132]:
# driver_issues.fault = (driver_issues.fault=='finish')*1

In [133]:
# driver_issues.to_csv('./CSV/driver_issues.csv')

In [134]:
driver_issues.fault = (driver_issues.fault=='driver')*1

In [135]:
driver_issues.to_csv('./CSV/driver_issues_faults.csv')

In [136]:
driver_issues_grouped = driver_issues.groupby(['season', 'name']).agg('mean').sort_values(by=['season', 'fault'], ascending=False)[6:]
driver_issues_grouped.head(20)

                              fault
season name
2021   Valtteri Bottas     0.111111
       Kimi Räikkönen      0.100000
       Lance Stroll        0.100000
       Nikita Mazepin      0.100000
       Antonio Giovinazzi  0.000000
       Carlos Sainz        0.000000
       Charles Leclerc     0.000000
       Daniel Ricciardo    0.000000
       Fernando Alonso     0.000000
       Lando Norris        0.000000
       Lewis Hamilton      0.000000
       Mick Schumacher     0.000000
       Sergio Pérez        0.000000
       Yuki Tsunoda        0.000000
2020   Kevin Magnussen     0.333333
       Lance Stroll        0.266667
       Max Verstappen      0.200000
       Charles Leclerc     0.187500
       Romain Grosjean     0.142857
       George Russell      0.133333

In [137]:
constructor_issues = status_issues[['season', 'constructor', 'fault']].copy()
constructor_issues = constructor_issues[constructor_issues.fault!='driver']

In [138]:
constructor_issues.fault = (constructor_issues.fault=='car')*1

In [139]:
constructor_issues.to_csv('./CSV/constructor_issues_faults.csv')

In [140]:
constructor_issues.fault.value_counts()

0    2457
1     326
Name: fault, dtype: int64

In [141]:
constructor_issues.groupby('constructor').agg('mean').sort_values(by='fault', ascending=False).head(20)

                   season     fault
constructor
caterham      2014.000000  0.275862
renault       2017.365385  0.169231
manor         2015.092593  0.166667
mclaren       2017.276753  0.166052
alphatauri    2017.241636  0.159851
red_bull      2017.217391  0.119565
haas          2018.197917  0.104167
alfa          2017.344828  0.095785
williams      2017.261993  0.084871
racing_point  2017.271375  0.078067
ferrari       2017.259124  0.072993
mercedes      2017.255172  0.044828